@import "~bootstrap/scss/bootstrap.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, #root, body, .full-container {
  height: 100%;
} 

:root {
  --font-color: #333;
  --background-color: #eee;
}
 
[data-theme='dark'] {
  --font-color: #eee;
  --background-color: #333;
}

#root {
  background-color: var(--background-color);
  color: var(--font-color);
}
.w-full {
  width: 100%;
}
.card {
  width: 18rem;
  height: 250px;
  background-color: var(--background-color);
  color: var(--font-color);
  .card-title {
    cursor: pointer;
    font-weight: 700 !important;
  }
  .card-text {
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis ;
    overflow: hidden;
  }
}

.icons-container {
    max-width: max-content;
    position:fixed;
    right: 0;
    bottom: 0;
  .icon {
    cursor: pointer;
  }
}

.add-new-page-input-title {
  border: 0;
  font-family: Inter,sans-serif;
  font-size: 64px;
  font-weight: 700;
  padding: 8px 0;
  width: 100%;
}

.add-new-page-input-body{
  border: 0;
  font-family: Inter,sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 8px 0;
  width: 100%;
}

.add-new-page-input-title[data-placeholder]:empty:before,
.add-new-page-input-body[data-placeholder]:empty:before
{
  content: attr(data-placeholder);
  color: #555; 
}

.icons {
  cursor: pointer;
}
#notfound {
  position: relative;
  height: 100vh;
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}
.notfound h3{
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound .notfound-404 h1 {
  font-size: 162px;
  height: 150px;
  line-height: 162px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #FAC53F;
  -webkit-text-stroke: 5px #1374b8;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media screen and (max-width: 720px) {
  .add-new-page-input-title {

    font-size: 32px;
  
  }
  
  .add-new-page-input-body{

    font-size: 16px;
  }
 
}